.TitleIcon {
    display: flex;
    align-items: center;

    &__icon {
        height: 18px;
        width: auto;
        margin-right: 10px;
        cursor: pointer;
    }

    &__title {
        font-size: $normal;
    }
}