@mixin bold-text {
    font-size: $normal;
    font-weight: 600;
    color: $color-text-normal;
    line-height: 1.5em;
}

@mixin greyed-text {
    font-size: $small;
    font-weight: 300;
    color: $color-text-light;
    line-height: 1.2em;
}