// Font Sizes
$small: 14px;
$normal: 16px;
$extra-large: 27px;

// Colors declarations
$color-primary: rgba(0, 82, 255, 1); 
$color-warning: #F9B506;
$color-light-gray: rgba(227, 229, 232, 1);
$color-dark-gray: rgba(157, 168, 180, 1);
$color-white: white;

// text-colors
$color-text-white: rgba(255, 255, 255, 1);
$color-text-normal: rgba(71, 84, 97, 1);
$color-text-light: rgba(157, 168, 180, 1);
$color-text-muted: rgba(194, 204, 214, 1);

// border-radius
$border-radius-normal: 14px;

// Shadows
$shadow-normal: 0px 14px 60px rgba(0, 0, 0, 0.09);