.cotainer {
    height: 100vh;
    padding: 10px;
    background-color: rgba(216, 216, 216, 1);
}

.actions {
    &__title {
        @include bold-text;
        margin-bottom: 5px;
    }

    &__description {
        @include greyed-text;
        margin-bottom: 20px;
    }

    &__button {
        cursor: pointer;
        background: $color-white;
        width: 100%;
         border: 1px solid $color-light-gray;
        border-radius: $border-radius-small;
        padding: 22px;
        @include bold-text;
        color: $color-primary;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
            background-color: $color-lightest-gray;
        }
    }
}