.searchAction {
    &__searchbar {
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        &:before {
            content: "";
            position: absolute;
            left: 10px;
            top: 0;
            bottom: 0;
            width: 20px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
        }

        &__input {
            padding: 15px 40px;
            border: 1px solid $color-light-gray;
            border-radius: $border-radius-small;
            width: 100%;
            font-family: 'Inter', sans-serif;
            color: $color-text-normal;
            font-size: $normal;
            @include easy-transition;
            outline: none;

            &::placeholder {
                color: $color-text-light;
            }

            &:focus {
                box-shadow: 0 0 0 1px $color-primary;
            }
        }
    }

    &__allActions {
        display: flex;
        flex-direction: column;

        &__Group {
            margin-top: 20px;

            &__title {
                font-size: $small;
                color: $color-text-light;
                margin-bottom: 5px;
            }
        }
    }
}