.selectSingleAction {
    width: 100%;
    background-color: $color-white;
    padding-top: 17px;
    padding-bottom: 17px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}